* text=auto eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.webp binary
*.ico binary
*.svg binary
*.pdf binary
*.zip binary
*.gz binary
*.tar binary
*.tgz binary
*.7z binary
*.jar binary
*.exe binary
*.dll binary
*.so binary
*.dylib binary
